<!DOCTYPE html>
<html>
  <head>
    <title>Nowagram: a completely original idea</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <% if session[:user_id] %>
      <%= link_to "Logout", session_path(1), method: :delete %>
    <% else %>
      <%= link_to "Register", new_user_path %>
      <%= link_to "Login", new_session_path %>
    <% end %>
    <%= yield %>
  </body>
</html>
